extends ../node_modules/pug-bootstrap/layouts/dashboard


block body

    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ETF Blockchain Network
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Dashboard
                    li
                        a(href='#') Settings
                    li
                        a(href='#') Profile
                    li
                        a(href='#') Help
                form.navbar-form.navbar-right
                    input.form-control(type='text', placeholder='Search...')
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li
                        a(href='/etf')
                            | ETF Book                            
                    li
                        a(href='/transact') Transact
                    li
                        a(href='/validate') Validate
                    li.active
                        a(href='/history') 
                            | Blockchain History
                            span.sr-only (current)

                    
                    

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Dashboard
                .row.placeholders
                    
                    .col-xs-6.col-sm-9.placeholder
                        img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
                        h4 Network Status
                        span.text-muted OK
                                 
                h2.sub-header ETF Blockchain Transaction History
                .table-responsive
                table.table.table-striped
                        thead
                            tr
                                th #transactionId                                
                                th transactionType
                                th transactionTimestamp
                                th transactionInvoked
                                th identityUsed                                
                        tbody
                            each val in jsonData
                                tr
                                    td #{val.transactionId}                                    
                                    td #{val.transactionType}
                                    td #{val.transactionTimestamp}
                                    td #{val.transactionInvoked}
                                    td #{val.identityUsed}                                    