extends ../node_modules/pug-bootstrap/layouts/dashboard


block body

    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ETF Blockchain Network
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Dashboard
                    li
                        a(href='#') Settings
                    li
                        a(href='#') Profile
                    li
                        a(href='#') Help
                form.navbar-form.navbar-right
                    input.form-control(type='text', placeholder='Search...')
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li.active
                        a(href='#')
                            | ETF Order Book
                            span.sr-only (current)
                    li
                        a(href='/transact') Transact
                    li
                        a(href='/validate') Validate
                    li
                        a(href='/history') Blockchain History
                    
                    

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Dashboard
                .row.placeholders
                    
                    .col-xs-6.col-sm-9.placeholder
                        img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
                        h4 Network Status
                        span.text-muted OK
                                 
                h2.sub-header ETF Inventory / Order Book
                .table-responsive
                table.table.table-striped
                        thead
                            tr
                                th #OrderID                                
                                th Status
                                th Client
                                th ETF
                                th Quantity
                                th Price
                                th NetAmount
                                th Type
                                th Trade_Date
                                th Settlement_Date
                                th AuthorizedParticipant
                                th ApAgent                           
                                th ClientCustodian                                
                                th ETF_Custodian                                
                                th Created_By
                        tbody
                            each val in jsonData
                                tr
                                    td #{val.inventoryId}                                    
                                    td #{val.status}
                                    td #{val.client}
                                    td #{val.etf}
                                    td #{val.qty}
                                    td #{val.price}
                                    td #{val.netAmount}
                                    td #{val.orderType}
                                    td #{val.tradeDate}
                                    td #{val.settlementDate}
                                    td #{val.ap}
                                    td #{val.apAgent}
                                    td #{val.clientCustodian}
                                    td #{val.eTFCustodian}
                                    td #{val.createdBy}